<header>

  <p>
    <mat-toolbar>
      <span>Cover Letter Generator</span>
    </mat-toolbar>
  </p>

</header>
<div class="form">
  <div>
    <mat-form-field>
      <mat-label>Enter job title</mat-label>
      <input matInput type="text" [(ngModel)]="jobTitle">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Enter Bullet Point 1</mat-label>
      <input matInput type="text" [(ngModel)]="bulletPoint1">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Enter Bullet Point 2</mat-label>
      <input matInput type="text" [(ngModel)]="bulletPoint2">

    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Enter Bullet Point 3</mat-label>
      <input matInput type="text" [(ngModel)]="bulletPoint3">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="generateCoverLetter()">Generate</button>
  </div>
</div>




<div *ngIf="showResponse">
  <div>
    <p>{{firstLine}}</p>
  </div>
  <br>
  <div>
    {{firstParagraph}}
  </div>
  <div>
    {{secondPara}}
  </div>
  <div>
    {{thirdPara}}
  </div>
  <ul>
    <li>
      {{bulletPoint1}}
    </li>
    <li>
      {{bulletPoint2}}
    </li>
    <li>
      {{bulletPoint3}}
    </li>
  </ul>
  <div>
    <p>{{fourthPara}}</p>
  </div>
  <div>
    <p>{{fifthPara}}</p>
  </div>
  <div>
    <p>{{finalPara}}</p>
  </div>
  <br>
  <p>
    {{name}}
  </p>
  <div>

  </div>
</div>