/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    color: #ffffff;
    margin: 2em;

}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form{
    color: #777777;
    display: inline-block;
    margin-left: 44vw;
}

input{
    min-width: 20vw;
    padding: 5px;
    margin-top: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.finalResponse{
    padding: 2em;
    margin: 0 auto;
    line-height: 1.4em;
    width: 66vw;
}

.finalResponse p{
    text-align: justify;
    text-justify: inter-word;
}

.ml-50{
margin-left: 45vw;
}
